{% extends "base_nosidebar.html" %}

{% block title %}パスワード再発行{% endblock %}

{% block header %}
    <div>
        <h3>パスワード再発行画面</h3>
    </div>
{% endblock %}

{% block content %}
    <p>ログインIDと再発行したパスワードを送信します。</p>
    <p>登録済みのメールアドレスを入力してください。</p>
    {% if error %}
        <p style="color:red;">{{ error.replace('\n', '<br>')|safe }}</p>
    {% endif %}
    <form id="send-password-form" method = "POST" actioon="{{ url_for('email.send_email') }}">
        <label>メールアドレス：</label><input type="email" name = "mail_address" value = "{{ mail_address }}" maxlength="254" required><br>
        <br>
        <button type="button" id="open-confirm-modal">パスワード送信</button>
    </form>
    <br>
    <form action="{{ url_for('auth.login') }}" method="POST">
        <input type="hidden" name="restart" value="error">
        <button type="submit">戻る</button>
    </form>

    <!-- 送信確認モーダル -->
    <div id="confirm-modal" class="modal" style="display:none;">
        <div class="modal-content confirm-modal-content">
            <h3>確認</h3>
            <p>パスワードを再発行し、送信しますか？</p>
            <button id="confirm-send-button" type="button" onclick="submitForm()">送信</button>
            <button type="button" onclick="closeModal('confirm-modal')">キャンセル</button>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        // モーダルウィンドウ表示(基)
        function openModal(id) {
            document.getElementById(id).style.display = "flex";
        }
        // モーダルウィンドウクローズ(基)
        function closeModal(id) {
            document.getElementById(id).style.display = "none";
        }

        // 「はい、送信」ボタンでフォーム送信
        function submitForm() {
            const sendButton = document.getElementById("confirm-send-button");
            sendButton.disabled = true; // 二重送信を防ぐためにボタンを無効化
            document.getElementById("send-password-form").submit();
        }

        // 確認モーダル表示ボタン(入力チェック有り)
        document.getElementById("open-confirm-modal").addEventListener("click", function() {
            const form = document.getElementById("send-password-form");

            // 標準のHTMLバリデーションチェック
            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }

            openModal("confirm-modal");
        });

    </script>
{% endblock %}